.exp {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 6 0vh;
    background-color: #000000;

    .exp_text {
        width: 50%;
        height: 100%;
        padding-left: 30px;
        padding-top: 50px;
        color: #fff;

        h2 {
            color: red;
        }

        p {
            padding-top: 20px;
            line-height: 25px;
        }

    }


    .exp_img {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 50%;
        height: 80%;

        .ex_img {
            width: 50%;
            height: 50%;

            img {
                width: 100%;
                height: 70%;
            }
        }

        .ex_text {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            height: 100%;

            p {
                font-size: 18px;
                line-height: 25px;
                width: 60%;
                color: #fff;
            }
        }
    }
}

@media(max-width:1150px) {
    .exp {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        background-color: #000000;

        .exp_text {
            width: 100%;
            height: auto;
            padding-left: 30px;
            padding-top: 50px;
            color: #fff;

            h2 {
                color: red;
            }

            p {
                padding-top: 20px;
                line-height: 25px;
            }

        }


        .exp_img {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 100%;
            height: auto;
            margin-top: 100px;

            .ex_img {
                width: 50%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .ex_text {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50%;
                height: 100%;

                p {
                    font-size: 18px;
                    line-height: 25px;
                    width: 100%;
                    color: #fff;
                }
            }
        }
    }
}